{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('spirituality') }}">Spiritualité</a></li>
    <li>></li>
    <li>Oracles</li>
</ul>

<div class="pages-main-title">

    <div><h2><span>Idées</span>d'oracles</h2><img src="{{ asset('assets/images/oeil-oracle.png') }}" alt=""></div>
</div>

<section class="oracles">

    {% for oracle in oracles %}

    <article class="oracle-article_container">
        <h3 class="oracle-article_title">{{oracle.title}}</h3>
        <img class="oracle-article_img" src="{{oracle.picture}}" alt="" class="oracle-article_video">
        <p class="oracle-article_description">{{oracle.description | raw}}</p>
        <a href="{{ oracle.link}}" target="_blank">
            <p class="oracle-article_details">+ DE DETAILS<i class="bi bi-box-arrow-up-right"></i></p>
        </a>
    </article>

    {% endfor %}
</section>
<div class="navigation_page">
    <p>{{ knp_pagination_render(oracles) }}</p>
</div>

{% endblock %}