{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('spirituality') }}">Spiritualité</a></li>
    <li>></li>
    <li>Idées de lecture</li>
</ul>

<div class="pages-main-title">
    <div><h2><span>Idées</span> de lecture</h2><img src="{{ asset('assets/images/livre.png') }}" ></div>
</div>


<section class="readings">

    {% for reading in readings %}


    <article class="reading-article_container">
        <img class="reading-article_img" src="{{reading.picture}}">
        <div class="reading-article_informations">
            <h3 class="reading-article_title">{{reading.title}}<br><span class="reading-article_author">de {{reading.author}}</span></h3>
            <p class="reading-article_description">{{reading.description | raw}}</p>
            <a href="{{ reading.link}}" target="_blank">
                <p class="reading-article_details">+ DE DETAILS<i class="bi bi-box-arrow-up-right"></i></p>
            </a>
        </div>

    </article>

    {% endfor %}
</section>
<div class="pagination">
    <p>{{ knp_pagination_render(readings, 'front/_pagination.html.twig') }}</p>
</div>

{% endblock %}