{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('spirituality') }}">Spiritualité</a></li>
    <li>></li>
    <li>Idées de lecture</li>
</ul>

<section class="readings">

    <div class="readings_menu">

        <h2>Idées de lecture</h2>
    </div>


{% for reading in readings %}
    

    <article class="reading-article_container">
        <img class="reading-article_img" src="{{reading.picture}}" alt="" class="reading-article_video">
        <div class="reading-article_informations">
            <h3 class="reading-article_title">{{reading.title}}</h3>
            <p class="reading-article_description">{{reading.description}}</p>
            <p>Author : {{reading.author}}</p>
            <a href="{{ reading.link}}" target="_blank">
                <p class="reading-article_buy">Acheter ce livre <i class="bi bi-box-arrow-up-right"></i></p>
            </a>
        </div>

    </article>

    {% endfor %}
</section>


{% endblock %}