{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Spiritualité</li>
</ul>

<div class="menu">

    <h2>Spiritualité</h2>

</div>

<div class="spirituality-intro">
    <img src="{{ asset('assets/images/spirituality.jpg') }}" alt="">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum error, nisi vitae, repellendus modi sit vero porro aspernatur aut neque dolores ipsum omnis illo architecto aperiam rerum. Dolor, doloribus recusandae.</p>
</div>

<ul class="spirituality-cards">
    <li><a href="{{ path('spirit-video') }}">Ressources vidéos</a></li>
    <li><a href="{{ path('spirit-readings') }}">Idées de lecture</a></li>
   <li> <a href="{{ path('oracles') }}">Oracles</a></li>
</ul>


{% endblock %}