{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('spirituality') }}">Spiritualité</a></li>
    <li>></li>
    <li>Ressources vidéos</li>
</ul>

<div class="pages-main-title">
    <div><h2><span>Ressources</span> vidéos</h2><img src="{{ asset('assets/images/video-logo.png') }}" alt=""></div>
</div>

<section class="videos">

    {% for video in videos %}
    <article class="video-article_container">

        <h3 class="video-article_title">{{video.title}}</h3>
        {{video.videoLink | raw}}
        <p class="video-article_description">{{video.description | raw}}</p>
        <a href="{{video.authorLink}}" target="_blank">
            <p class="video-article_author">Page de l'author <i class="bi bi-box-arrow-up-right"></i></p>
        </a>

    </article>
    {% endfor %}

</section>
<div class="navigation_page">
    <p>{{ knp_pagination_render(videos) }}</p>
</div>

{% endblock %}