{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}

<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Corps & Esprit</li>
</ul>

<div class="menu">

    <h2>Corps & Esprit</h2>

    <div class="search-form">
        <form action="{{ path('searchPost') }}">
            <input class="" name="q" type="search" placeholder="Rechercher...">
            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>

        </form>
    </div>
</div>

<section class="corps-esprit-cards">

    <article>
        <a href="{{ path('feed') }}">
            <div><img src="{{ asset('assets/images/alimentation.jpg') }}" alt="">
            <h2>Alimentation</h2></div>
        </a>
    </article>

    <article>
        <a href="{{ path('sport') }}">
            <div><img src="{{ asset('assets/images/sport.jpg') }}" alt="">
            <h2>Sport</h2></div>
        </a>
    </article>
    
    <article>
        <a href="{{ path('massage') }}">
            <div><img src="{{ asset('assets/images/massage.jpg') }}" alt="">
            <h2>Massages</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('perma') }}">
            <div><img src="{{ asset('assets/images/perma.jpg') }}" alt="">
            <h2>Permathérapie</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('bachFlower') }}">
            <div><img src="{{ asset('assets/images/fleurs.jpg') }}" alt="">
            <h2>Fleurs de Bach</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('autohypnose') }}">
            <div><img src="{{ asset('assets/images/hypnose.jpg') }}" alt="">
            <h2>Autohypnose</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('reiki') }}">
            <div><img src="{{ asset('assets/images/reiki.jpg') }}" alt="">
            <h2>Reiki</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('phyto') }}">
            <div><img src="{{ asset('assets/images/phyto.jpg') }}" alt="">
            <h2>Phytothérapie</h2></div>
        </a>
    </article>
    <article>
        <a href="{{ path('meditation') }}">
            <div><img src="{{ asset('assets/images/meditation.jpg') }}" alt="">
            <h2>Meditation</h2></div>
        </a>
    </article>
</section>

{% endblock %}