{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('corpsEsprit') }}">Corps & Esprit</a></li>
    <li>></li>
    <li> <a href="{{ path( post.category ) }}">{{pageTitle}}</a></li>
    <li>></li>
    <li>{{post.title}}</li>
</ul>

<section class="post-page">

    <article class="post-page_post">
        <h1>{{post.title}}</h1>
        <img src="{{post.mainPicture}}">
        <p>{{post.content | raw}}</p>
        
        {% if post.author  %}
        <ul class="post-author-informations">
            <li class="author-name">Author : <span>{{post.author}}</span></li>
            <li><a href="{{post.source}}">Voir la source <i class="bi bi-box-arrow-up-right"></i></a></li>
        </ul>
        {% endif %}
    </article>

</section>

{% endblock %}