{% extends 'front/base.html.twig' %}

{% block title %}Article {{ pageTitle}}{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li><a href="{{ path('corpsEsprit') }}">Corps & Esprit</a></li>
    <li>></li>
    <li> <a href="{{ path( post.category ) }}">{{pageTitle}}</a></li>
    <li>></li>
    <li>{{post.title}}</li>
</ul>

<section class="post-page">

    <article class="post-page_post">
        <h1 class="post-page_title">{{post.title}}  {% if post.author  %}<br><span class="post-page_author">de {{post.author}}</span>{% endif %}</h1>
        <img src="{{post.mainPicture}}">
        <div class="post-page_description">
            <p>{{post.content | raw}}</p>
        </div>
        
        {% if post.author  %}
        <a href="{{post.source}}" target="_blank">
            <div class="post-page_details">+ DE DETAILS<i class="bi bi-box-arrow-up-right"></i></div>
        </a>
        {% endif %}
    </article>

</section>

{% endblock %}