{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Boutique</li>
</ul>
<a href="{{ path('shop') }}">
    <p class="found-items">Produits totales : {{totalProducts}}</p>
</a>

<section class="shop">

    {# <ul class="shop_filters">
        <li>Filtres :</li>
        <li>Beauté</li>
        <li>Higiéne</li>
        <li>Huiles essentielles</li>
        <li>Santé</li>
        <li>Alimentaire</li>
        <li>Entretien</li>
        <li>Tous les produits</li>
    </ul>
     #}

    <div class="filters">
        <div class="filter_search">
            <form action="{{path('searchProduct')}}">
                <input type="search" name="q" placeholder="Search" required="required">
                <input type="submit" value="Go">
            </form>
            {% if foundProducts is defined %}
            <p>Vous avez recherché : {{ searchTerm }}</p>
            <p>Produits trouvés : {{ foundProducts }}</p>
            {% endif %}
        </div>
        <div class="filter_checkbox" >
            <form method='POST' action='{{path('searchProduct')}}'>
                Merci de cocher vos 2 couleurs préférées:<br>
                <input type="checkbox" name="couleur[]" value="beaute">Beauté<br>
                <input type="checkbox" name="couleur[]" value="hygiene">Hygiene<br>
                <input type="checkbox" name="couleur[]" value="huiles">Huiles essentielles<br>
                <input type="checkbox" name="couleur[]" value="sante">Sante<br>
                <input type="checkbox" name="couleur[]" value="alimentaire">Alimentaire<br>
                <input type="checkbox" name="couleur[]" value="entretien">Entretien<br>
                <input type="submit" name="submit" value="Résultats">
                </form>
        </div>

    </div>
    <div class="shop_item-list">
        {% if products == true %}
        {% for product in products %}
        <article class="shop_item shop_item--shop">
            <img src="{{product.picture}}" alt="">
            <div class="shop_item-detail">
                <h4 class="shop_item-brand">{{product.brand}}</h4>
                <h3 class="shop_item-title">{{product.title}}</h3>
                <p class="shop_item-price">€ {{product.price}} </p>
                <a class="shop_item-show" href="{{ product.source }}">
                    <p>Voir le produit</p>
                </a>
            </div>
        </article>
        {% endfor %}
        {% else %}
        <div class="no-products">
            <p>Aucun resultat pour :<span> {{ searchTerm }}</span></p>
            <a href="{{ path('shop') }}">
                <p>Revenir à la liste des produits</p>
            </a>
        </div>
        {% endif %}
    </div>

</section>

{% endblock %}