{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<ul class="fil-ariane">
    <li>
        <a href="{{ path('home') }}">Accueil</a>
    </li>
    <li>></li>
    <li>Boutique</li>
</ul>
<p class="found-items">Produits totales : {{totalProducts}}</p>


<section class="shop">

    {# <ul class="shop_filters">
        <li>Filtres :</li>
        <li>Beauté</li>
        <li>Higiéne</li>
        <li>Huiles essentielles</li>
        <li>Santé</li>
        <li>Alimentaire</li>
        <li>Entretien</li>
        <li>Tous les produits</li>
    </ul>
     #}

    <div class="filters">
        <form action="{{path('searchProduct')}}">
            <input type="search" name="q" placeholder="Search" required="required">
            <input type="submit" value="Go">
        </form>

        {% if foundProducts is defined %}
        <p>Vous avez recherché : {{ searchTerm }}</p>
        <p>Produits trouvés : {{ foundProducts }}</p>
        {% else %}
        <p>Vous avez recherché : {{ app.request.get('q') }}</p>
        <p>Produits trouvés : 0</p>
        {% endif %}

        
    </div>
    <div class="shop_item-list">
        {% for product in products %}
        <article class="shop_item">
            <img src="{{product.picture}}" alt="">
            <div class="shop_item-detail">
                <h4 class="shop_item-brand">{{product.brand}}</h4>
                <h3 class="shop_item-title">{{product.title}}</h3>
                <p class="shop_item-price">€ {{product.price}} </p>
                <a class="shop_item-show" href="{{ product.source }}">
                    <p>Voir le produit</p>
                </a>
            </div>
        </article>
        {% endfor %}
    </div>

</section>

{% endblock %}