<footer class="footer">
   <div>
      <ul>
         <li><a href="{{ path('corpsEsprit') }}">CORPS & ESPRIT</a></li>
         <li><a href="{{ path('spirituality') }}">SPIRITUALITÉ</a></li>
         <li><a href="{{ path('shop') }}">BOUTIQUE</a></li>
      </ul>
      <ul>
         <li><a href="{{ path('home') }}"><img class="logo" src="{{ asset('assets/images/logo-blanc.png') }}" alt="Logo" ></a></li>
         <li>©Colombien-être 2022 - Tous droits réservés</li>
      </ul>
      <ul>
         <li>CONTACT</li>
         <li> <a href="mailto:lili_lili321@hotmail.com">  lili_lili321@hotmail.com <img src="{{ asset('assets/images/envloppe.png') }}" alt=""></a></li>
      </ul>
   </div>
</footer>