{% extends 'front/base.html.twig' %}

{% block title %}Colombienetre{% endblock %}

{% block body %}


<section class="home-intro">
    <h1>“C’est par le bien-faire que se crée le bien-être”
    </h1>
    <img class="home-main-img" src="{{ asset('assets/images/main-home.jpg') }}" alt="">

    <aside class="home-description">

        <p><span>Bienvenue</span></p>
        <p>
            Vous êtes sur colombienetre où je répertorie les<span> articles, blogs, livres, podcast, sites</span> et des
            liens vers
            des
            <span>produits utiles</span> pour vous aider au quotidien et trouver
            <span>vos propres outils de bien-être et de spiritualité.</span>
        </p>
        <img src="{{ asset('assets/images/Vector.png') }}" alt="">
        <p>A vous de piocher<span> dans ce qui résonne le plus</span> et de découvrir ce dont <span>
                votre corps et
                votre esprit ont besoin !</span> </p>
    </aside>
</section>

<section class="home-cards">
    <article class="home-card">
        <img src="{{ asset('assets/images/corps-home.png') }}" alt="">

        <div>
            <a href="{{ path('sport') }}">
                <h3>Bien-être dans son corps</h3>
            </a>
        </div>

    </article>
    <article class="home-card">
        <img src="{{ asset('assets/images/téte-home.png') }}" alt="">

        <div>
            <a href="{{ path('meditation') }}">
                <h3>Bien-être dans sa tête</h3>
            </a>
        </div>

    </article>
    <article class="home-card">
        <img src="{{ asset('assets/images/énergie-home.png') }}" alt="">

        <div>
            <a href="{{path('reiki') }}">
                <h3>Bien-être chez soi</h3>
            </a>
        </div>

    </article>
    <article class="home-card">
        <img src="{{ asset('assets/images/spiritualité-home.png') }}" alt="">

        <div>
            <a href="{{path('spirituality') }}">
                <h3>Spiritualité</h3>
            </a>
        </div>

    </article>
</section>




<section class="home-shop">
    <ul class="home-shop-title-list">
        <img src="{{ asset('assets/images/vector-flower.png') }}">
        <h2 class="home-shop_title"> Les produits bien-être <span>que je vous conseille</span></h2>
        <img src="{{ asset('assets/images/vector-flower.png') }}">
    </ul>
    <div class="home-shop-items">

        {% for product in products %}
        <article class="shop_item shop_item--home">
            <div class="shop_item_img-conteiner"><img src="{{product.picture}}" alt=""></div>
            <div class="shop_item-detail">
                <h4 class="shop_item-brand">{{product.brand}}</h4>
                <h3 class="shop_item-title">{{product.title}}</h3>
                <p class="shop_item-price">€ {{product.price}}</p>
                <a class="shop_item-show" href="{{ product.source }}">
                    <p>Voir le produit <i class="bi bi-box-arrow-up-right"></i></p>
                </a>
            </div>
        </article>
        {% endfor %}
    </div>
</section>
<a href="{{path('shop') }}">
    <p class="home-allProducts">TOUS LES PRODUITS</p>
</a>



{% endblock %}