{% extends 'back/base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}

<div class="menu_form">
    <div class="menu_form_buttons">
        <a href="{{ path('back_' ~ post.category ~ '_edit', {'id': post.id}) }}">Modifier article</a>
        <a href="{{ path('back_' ~ post.category ~ '_browse') }}">Liste article</a>
    </div>
    <h1>Article : {{ post.title }}</h1>
</div>
    
    <table class="table">
        <tbody>
            <tr>
                <th class="th-read">Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th class="th-read">Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th class="th-read">Contenu</th>
                <td>{{ post.content | raw }}</td>
            </tr>
            <tr>
                <th class="th-read">Auteur </th>
                <td>{{ post.author }}</td>
            </tr>
            <tr>
                <th class="th-read">Source</th>
                <td>{{post.source}}</td>
            </tr>
            <tr>
                <th class="th-read">Vues</th>
                <td>{{post.views}}</td>
            </tr>
            <tr>
                <th class="th-read">Date de création </th>
                <td>{{ post.createdAt ? post.createdAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="th-read">Mis à jour le</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="th-read">Image diapo </th>
                <td><img class="img-read" src="{{ post.thumbnailPicture }}" alt=""></td>
            </tr>
            <tr>
                <th class="th-read">Image principale</th>
                <td><img class="img-read" src="{{ post.mainPicture }}" alt=""></td>
            </tr>
        </tbody>
    </table>

{% endblock %}